<div style="background: transparent;">
    <div style="height: 20px;"></div>
    <p-breadcrumb [model]="bcitems" [home]="home"></p-breadcrumb>
    <div class="wrapperinside">
        <p-card>

            <div class="p-fluid">
                <div class="p-grid">
                    <p class="p-col-12 p-md-3">Fullname</p>
                    <p class="p-col-12 p-md-1">:</p>
                    <p class="p-col-12 p-md-8">{{profile.fullname}}</p>
                </div>
                <div class="p-grid">
                    <p class="p-col-12 p-md-3">Email</p>
                    <p class="p-col-12 p-md-1">:</p>
                    <p class="p-col-12 p-md-8">{{profile.userid}}</p>
                </div>
                <div class="p-grid">
                    <p class="p-col-12 p-md-3">Password</p>
                    <p class="p-col-12 p-md-1">:</p>
                    <p class="p-col-12 p-md-8">
                        <a [routerLink]="" (click)="changepassword()">Change Password</a>
                    </p>
                </div>
                <div class="p-grid">
                    <p class="p-col-12 p-md-3">Company</p>
                    <p class="p-col-12 p-md-1">:</p>
                    <p class="p-col-12 p-md-8">{{profile.tenant}}</p>
                </div>

            </div>
        </p-card>
    </div>
</div>