<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>
<div class="wrapperinside">
    <form (ngSubmit)="onSubmit()" [formGroup]="groupForm" *ngIf="this.groupForm" style="padding: 2px;">
        <div style="height: 20px;"></div>
        <p-card class="p-my-2">
            <div class=" p-fluid">
                <div class="p-grid">
                    <div class="p-col-12">
                        <div class="p-col-4">
                        <div class="box">
                            <label for="citycode" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">City Code *
                                :</label>
                            <input class="p-mt-2" name="citycode" formControlName="citycode" id="citycode"
                                type="text" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.citycode.errors">
                                <span style="color: red;" *ngIf="f.citycode.errors.required">Parameter name is
                                    required</span>
                            </div>
                        </div></div>
                        <!-- <div style="height: 15px;"></div> -->
                        <div class="p-col-4">
                        <div class="box">
                            <label for="cityname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">City Name * :</label>
                            <input class="p-mt-2" name="cityname" formControlName="cityname" id="cityname"
                                type="text" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.cityname.errors">
                                <span style="color: red;" *ngIf="f.cityname.errors.required">Value is
                                    required</span>
                            </div>
                        </div></div>
                        <div class="p-col-4">
                            <div class="box">
                                <label for="branchcode" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Branch Code *
                                    :</label>
                                <input class="p-mt-2" name="branchcode" formControlName="branchcode" id="branchcode"
                                    type="text" pInputText required>
                                <div class="p-field" *ngIf="submitted && f.branchcode.errors">
                                    <span style="color: red;" *ngIf="f.branchcode.errors.required">Parameter name is
                                        required</span>
                                </div>
                            </div></div>
                            <!-- <div style="height: 15px;"></div> -->
                            <div class="p-col-4">
                            <div class="box">
                                <label for="branchname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Branch Name * :</label>
                                <input class="p-mt-2" name="branchname" formControlName="branchname" id="branchname"
                                    type="text" pInputText required>
                                <div class="p-field" *ngIf="submitted && f.branchname.errors">
                                    <span style="color: red;" *ngIf="f.branchname.errors.required">Value is
                                        required</span>
                                </div>
                            </div></div>
                        <!-- <div style="height: 15px;"></div> -->
                        <div class="p-col-4">
                        <div class="box">
                            <label for="status" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Active * :</label>
                            <p-dropdown id="status" [options]="stateOptions" formControlName="status" optionLabel="label" optionValue="value"></p-dropdown>


                            <div class="p-field" *ngIf="submitted && f.status.errors">
                                <span style="color: red;" *ngIf="f.status.errors.required">Status is
                                    required</span>
                            </div>
                        </div></div>
                    </div>
                </div>
            </div>
        </p-card>
        <div class="p-field p-col p-mt-5">
            <div class="p-formgrid p-grid" style="text-align: right;">
                <div class="p-field p-col">
                    <button pButton pRipple type="submit" label="Save" class="p-button-success"
                        icon="pi pi-angle-right" iconPos="right"></button>
                </div>
            </div>
        </div>
    </form>

</div>