<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<p-progressSpinner *ngIf="prefundData.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div *ngIf="prefundData.length > 0" style="padding-left: 10px;padding-right: 10px;">
    <p-table #dt [value]="prefundData" dataKey="id" [rows]="5" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10,25,50]" styleClass="p-datatable-customs p-datatable-gridlines"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['idparticipant', 'max_amount', 'min_amount']">
        
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-right p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input #myInput pInputText type="text"
                        (input)="dt.filterGlobal(myInput.value, 'contains')" placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 75px;" class="p-text-center">No </th>
                <th pSortableColumn="idparticipant" class="p-text-center">Participant <p-sortIcon field="idparticipant"></p-sortIcon></th>
                <th pSortableColumn="max_amount" class="p-text-center">Max Amount <p-sortIcon field="max_amount"></p-sortIcon></th>
                <th pSortableColumn="min_amount"class="p-text-center">Min Amount <p-sortIcon field="min_amount"></p-sortIcon></th>
                <th class="p-text-center">Action </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-index="rowIndex" let-prefund>
            <tr>
                <td class="p-text-center">{{index+1}}</td>
                <td class="p-text-center">{{prefund.idparticipant}}</td>
                <td class="p-text-right">{{prefund.max_amount}}</td>
                <td class="p-text-right">
                    <div *ngIf="prefund.max_amount == prefund.min_amount">
                        
                    </div>
                    <div *ngIf="prefund.max_amount != prefund.min_amount">
                        {{prefund.min_amount}}
                    </div>
                </td>
                <td class="p-text-center">
                    <button pButton pRipple type="button" (click)="detailPrefund(prefund)" icon="pi pi-search" class="p-button-rounded p-button-text"></button>
                    <button pButton pRipple type="button" (click)="deleteConfirmation(prefund)" icon="pi pi-times" style="color: red;" class="p-button-rounded p-button-secondary p-button-text"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog header="Delete Prefund" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000"
[draggable]="false" [resizable]="false">
    <p style="font-size: 18;">Are you sure want to delete this Record?</p>
    <ng-template pTemplate="footer">
        <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
        <p-button (click)="deletePrefund()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
