<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>
<div class="wrapperinside">
    <form (ngSubmit)="onSubmit()" [formGroup]="groupForm" *ngIf="this.groupForm" style="padding: 2px;">
        <div style="height: 20px;"></div>
        <p-card class="p-my-2">
            <div class=" p-fluid">
                <div class="p-grid">
                    <div class="p-col">
                        <div class="box">
                            <label for="min" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Min *
                                :</label>
                            <!-- <input class="p-mt-2" name="proxy_type" formControlName="proxy_type" id="proxy_type"
                                type="text" pInputText required> -->
                            <div style="height: 8px;"></div>
                            <!--<p-dropdown id="isactive" [options]="proxytypes" formControlName="proxy_type"
                                optionLabel="label" optionValue="valueint" placeholder="Select Proxy Type"></p-dropdown>-->
                            <input class="p-mt-2" name="min" formControlName="min" id="min" type="text" pInputText
                                required>
                            <div class="p-field" *ngIf="submitted && f.min.errors">
                                <span style="color: red;" *ngIf="f.min.errors.required">Resident Status Code is
                                    required</span>
                            </div>
                        </div>


                    </div>

                    <div class="p-col">
                        <div style="height: 8px;"></div>
                        <div class="box">
                            <label for="max" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Max *
                                :</label>
                            <input class="p-mt-2" name="max" formControlName="max" id="max" type="text" pInputText
                                required>
                            <div class="p-field" *ngIf="submitted && f.max.errors">
                                <span style="color: red;" *ngIf="f.max.errors.required">Resident Status (BI-FAST)
                                    is
                                    required</span>
                            </div>
                        </div>


                        <!-- <p>Keep deactivated will email the user registered to activated</p> -->
                    </div>
                </div>
            </div>
        </p-card>
        <div class="p-field p-col p-mt-5">
            <div class="p-formgrid p-grid" style="text-align: right;">
                <div class="p-field p-col">
                    <button pButton pRipple type="submit" label="Save" class="p-button-success" icon="pi pi-angle-right"
                        iconPos="right"></button>
                </div>
            </div>
        </div>
    </form>
</div>