<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<p-progressSpinner *ngIf="sysParamData.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>

<div *ngIf="sysParamData.length > 0" style="padding-left: 10px;padding-right: 10px;">
    <app-tablehelper [records] = "sysParamData" [header]="sysheader" [wsearch]= true [actionbtn] = "sysactionbtn" [colnames]="syscolname" [colwidth]="syscolwidth" [colclasshalign]="syscolhalign" [addbtnlink]="sysaddbtn" (datadeleted)="deleteConfirmation($event)"  [nopaging]=false [scrollheight]="scrollheight" (dataapprover)="approvalData($event)" [colmark]=2></app-tablehelper>
 </div>
 
 <p-dialog header="Delete System Paramater" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000"
 [draggable]="false" [resizable]="false">
 <p style="font-size: 18;">Are you sure want to delete this Record?</p>
 <ng-template pTemplate="footer">
     <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
     <p-button (click)="deletesysParam()" label="Yes" styleClass="p-button-text"></p-button>
 </ng-template>
</p-dialog>

<p-dialog header="Approval" [(visible)]="viewApprove" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div class="p-fluid">
        <div class="p-grid">
            <p class="p-col-12" style="font-size: 18px;">This records need approval from you?, please choose wisely</p>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="viewApprove=false" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button (click)="approvalSubmit(4)" label="Reject" styleClass="p-button-text"></p-button>
        <p-button (click)="approvalSubmit(1)" label="Approve" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>