<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<!-- ["name", "accnum", "prxaddress", "branch", "channel", "prxtype", "secid", "custresidence", "stsprxadd"] -->
<!-- <p-progressSpinner *ngIf="proxyData.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages> -->
<div class="wrapperinside">
    <div style="height: 20px;"></div>
    <p-card class="p-my-2">
        <div class=" p-fluid">
            <div class="p-grid">
                <div class="p-col">

                  <div class="p-grid">
                    <div class="p-col">
                      <div class="box">
                        <label for="rangesDates" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Start Date :</label>
                        <!-- <input class="p-mt-2" name="proxy_type" formControlName="proxy_type" id="proxy_type"
                            type="text" pInputText required> -->
                        <div style="height: 8px;"></div>
                        <p-calendar [(ngModel)]="startDate" [showIcon]="true" dateFormat="dd-mm-yy"
                                    inputId="startDate" (click)="maxDate()">
                        </p-calendar>
                      </div>
                    </div>
                    <div class="p-col">
                      <div class="box">
                        <label for="rangesDates" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">End Date :</label>
                        <!-- <input class="p-mt-2" name="proxy_type" formControlName="proxy_type" id="proxy_type"
                            type="text" pInputText required> -->
                        <div style="height: 8px;"></div>
                        <p-calendar dateFormat="dd-mm-yy" [showIcon]="true" [(ngModel)]="endDate"
                                    inputId="endDate" (click)="maxDate()"> </p-calendar>
                      </div>
                    </div>
                  </div>

                  <div style="height: 8px;"></div>
                  <div class="box">
                    <label for="secondId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Second Id
                      :</label>
                    <div style="height: 8px;"></div>
                    <p-dropdown id="secondId" [options]="proxyaddrestype" optionLabel="proxyname"
                                placeholder="Select Second Id" [(ngModel)]="SecondIdSelected"></p-dropdown>
                  </div>

                </div>
                <div class="p-col">
                  <div class="box">
                    <label for="channels" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Channel :</label>
                    <div style="height: 8px;"></div>
                    <p-dropdown id="channels" [options]="channels" optionLabel="channeltype"
                                [(ngModel)]="channelSelected" placeholder="Select Channel"></p-dropdown>
                  </div>
<!--                    <div class="box">-->
<!--                        <label for="branch" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Branch :</label>-->
<!--                        <div style="height: 8px;"></div>-->
<!--                        <p-dropdown id="branch" [options]="branchOffices" optionLabel="branchname"-->
<!--                            placeholder="Select Branch" [(ngModel)]="branchSelected"></p-dropdown>-->
<!--                    </div>-->
                    <div style="height: 15px;"></div>
                    <div class="box">
                        <label for="proxyaddrestype" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Proxy Address Type
                            :</label>
                        <div style="height: 8px;"></div>
                        <p-dropdown id="proxyaddrestype" [options]="proxyaddrestype" optionLabel="proxyname"
                            placeholder="Select Proxy Address Type" [(ngModel)]="proxyTypeSelected"></p-dropdown>
                    </div>

                    <div style="height: 40px;"></div>
                    <div class="p-grid">
                        <div class="p-col">
                            <div class="box">
                                <button pButton pRipple type="button" icon="pi pi-search" (click)="refreshData()"
                                    label="Search" class="p-button-info"></button>
                            </div>
                        </div>
                        <div class="p-col">
                            <div class="box">
                                <button pButton pRipple type="button" icon="pi pi-refresh" [routerLink]="home"
                                    label="Clear Filter" class="p-button-warning"></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </p-card>
    <div style="height: 20px;"></div>
    <p-progressSpinner *ngIf="proxyData.length == 0" class="p-text-center"></p-progressSpinner>
    <p-table id="excel-table" #dt [value]="proxyData" dataKey="id" [rows]="5" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10,25,50]" styleClass="p-datatable-customs p-datatable-gridlines" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['name', 'accnum', 'prxaddress', 'branch', 'channel', 'prxtype', 'secid', 'custresidence', 'stsprxadd', 'proxyactivity']">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">

                <span class="p-input-icon-right p-ml-auto">
                    <button *ngIf="isdataexist" pButton pRipple type="button" icon="pi pi-file-excel"
                        [routerLink]="home" label="Export PDF" (click)="openPDF()" class="p-button-danger"></button>
                    &nbsp;
                    <button *ngIf="isdataexist" pButton pRipple type="button" icon="pi pi-file-pdf"
                        (click)="exportexcel()" label="Export CSV" class="p-button-success"></button>
                    <!-- <i class="pi pi-search"></i>
                                <input #myInput pInputText type="text"
                                    (input)="dt.filterGlobal(myInput.value, 'contains')" placeholder="Search keyword" /> -->
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="p-text-center" pSortableColumn="name">Name
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th class="p-text-center" pSortableColumn="accnum">Acc No
                    <p-sortIcon field="accnum"></p-sortIcon>
                </th>
                <th class="p-text-center" pSortableColumn="prxaddress">Prx Address
                    <p-sortIcon field="prxaddress"></p-sortIcon>
                </th>
                <th class="p-text-center" pSortableColumn="branch">Branch
                    <p-sortIcon field="branch"></p-sortIcon>
                </th>
                <th class="p-text-center" pSortableColumn="channel">Channel
                    <p-sortIcon field="channel"></p-sortIcon>
                </th>
                <th class="p-text-center" pSortableColumn="prxtype">Prx Type
                    <p-sortIcon field="prxtype"></p-sortIcon>
                </th>
                <th class="p-text-center" pSortableColumn="secid">Second ID
                    <p-sortIcon field="secid"></p-sortIcon>
                </th>
                <th class="p-text-center" pSortableColumn="custresidence">Cst Res
                    <p-sortIcon field="custresidence"></p-sortIcon>
                </th>
                <th class="p-text-center" pSortableColumn="stsprxadd">Proxy Stat
                    <p-sortIcon field="proxystat"></p-sortIcon>
                </th>
              <th class="p-text-center" pSortableColumn="proxyactivity">Proxy Activity
                <p-sortIcon field="proxyactivity"></p-sortIcon>
              </th>
                <!-- <th class="p-text-center" [style]="{'width':'100px'}">Action</th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-prxdata>
            <tr>
                <td>{{prxdata.name}}</td>
                <td class="p-text-center">{{prxdata.accnum}}</td>
                <td>{{prxdata.prxaddress}}</td>
                <td>{{prxdata.branch}}</td>
                <td>{{prxdata.channel}}</td>
                <td>{{prxdata.proxytype}}</td>
                <td>{{prxdata.secondid}}</td>
                <td>{{prxdata.custresident}}</td>
                <td class="p-text-center">{{prxdata.proxystat}}</td>
                <td class="p-text-center">{{prxdata.proxyactivity}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>



























<p-dialog header="Delete Group" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false">
    <p style="font-size: 18;">Are you sure want to delete this Organization?</p>
    <ng-template pTemplate="footer">
        <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
        <p-button (click)="deleteGroup()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
