<style>
    body {
        background: #007dc5
    }

    form {
        position: absolute;
        top: 40%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

    .p-messages {
        max-width: 360px;
    }
</style>
<p-blockUI [target] [blocked]="isProcess">
    <p-progressSpinner>
        <h1 style="color: antiquewhite;font-size: 36px;">Loading</h1>
    </p-progressSpinner>
    <!-- <h1 style="color: antiquewhite;font-size: 36px;">Loading</h1> -->

</p-blockUI>
<section>

    <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <p-card header="" [style]="{width: '360px'}" styleClass="p-card-shadow p-header-w50">
            <ng-template pTemplate="header">
                <div class="p-text-center"><img alt="commonwealth" src="assets/logos/commonwealthbank.png"
                        [style]="{width: '200px!important'}"></div>
            </ng-template>
            <div class="p-fluid">
                <h4 style="margin: 0;padding: 0;">PTBC Portal</h4>
                <div class="p-field">
                    <label for="userid" class="labelpb">User Name</label>
                    <!-- <input id="userid" name="userid" type="text" required  [(ngModel)]="userid" pInputText> -->
                    <input id="userid" name="userid" type="text" required formControlName="userid" pInputText>
                </div>
                <div class="p-field" *ngIf="submitted && f.userid.errors">
                    <span style="color: red;" *ngIf="f.userid.errors.required">User is required</span>
                </div>
                <div style="height: 0.3rem;"></div>
                <div class="p-field">
                    <label for="secret" class="labelpb">Password</label>
                    <!-- <input id="passwd" type="password" [(ngModel)]="secret" (keyup.enter)="passData()" pInputText>  -->
                    <input id="secret" type="password" formControlName="secret" pInputText>
                </div>
                <div class="p-field" *ngIf="submitted && f.secret.errors">
                    <span style="color: red;" *ngIf="f.secret.errors.required">Password is required</span>
                </div>
                <div style="height: 0.3rem;"></div>
                <!-- <div style="transform:scale(0.7);transform-origin:0;">
                    <re-captcha [siteKey]="captchaSiteKey" (resolved)="resolved($event)" id="recaptcha"
                        formControlName="recaptcha" (error)="onError($event)" errorMode="handled"></re-captcha>
                </div> -->
                <div class="p-field">
                    <a href="#/auth/forgotpassword">Forgot Password?</a>
                </div>
            </div>
            <ng-template pTemplate="footer">
                <!-- <button pButton pRipple type="button" label="Login" (click)="passData()" class="p-button-rounded"></button> -->
                <div class="p-text-right">
                    <button pButton pRipple type="submit" label="Login" class="p-primary-btn"></button>
                </div>
            </ng-template>
            <div style="height: 0.5rem;"></div>
        Layanan yang ada hanya diperuntukkan oleh yang berwenang.
        </p-card>
        
        <div [style]="{width: '360px'}">
            <p-messages></p-messages>
        </div>
    </form>

</section>