<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<div class="wrapperinside">
    <!-- <form (ngSubmit)="onSubmit()" [formGroup]="orgForm" style="padding: 2px;"> -->
        <div style="height: 20px;"></div>
        <p-card class="p-my-2">
            <div class=" p-fluid">
                <div class="p-grid">
                    <div class="p-col-3">
                        <div class="box">
                            <!-- class="p-col-12 p-mb-2 p-md-2 p-mb-md-0" -->
                            <label for="organizationname">Group Name *
                                :</label>
                            <input class="p-mt-2" name="organizationname" [(ngModel)]="groupName"
                                id="organizationname" type="text" pInputText required>
                            <div class="p-field" *ngIf="submitted && inputform.errors">
                                <span style="color: red;">Group
                                    Name is required</span>
                            </div>
                        </div>
                        <!-- <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="description">Description *</label>
                            <div style="height: 10px;"></div>
                            <textarea class="p-inputtext" id="description" rows="7" cols="109"
                                pInputTextarea></textarea>
                            
                        </div> -->
                    </div>
                    <div class="p-col-9">
                        <label for="mnlist">{{titleActive}}</label>
                            <div style="height: 10px;"></div>
                        <div class="p-grid" *ngIf="activedetail == 2">
                            <div class="p-col-fixed" style="width:345px; font-weight: bold;">
                                <div class="p-text-right">Choose All</div>
                            
                            </div>
                            <div class="p-col">
                                <span>
                                    <p-checkbox name="create" label="Create" (onChange)="checkAll($event,listmenubymodules,'create')" [binary]="true">
                                    </p-checkbox>,&nbsp;
                                    <p-checkbox name="read" label="Read" (onChange)="checkAll($event,listmenubymodules,'read')" [binary]="true">
                                    </p-checkbox>,&nbsp;
                                    <p-checkbox name="update" label="Update" (onChange)="checkAll($event,listmenubymodules,'update')" [binary]="true">
                                    </p-checkbox>,&nbsp;
                                    <p-checkbox name="delete" label="Delete" (onChange)="checkAll($event,listmenubymodules,'delete')" [binary]="true">
                                    </p-checkbox>,&nbsp;
                                    <p-checkbox name="view" label="Preview" (onChange)="checkAll($event,listmenubymodules,'view')" [binary]="true">
                                    </p-checkbox>,&nbsp;
                                    <p-checkbox name="approval" label="Approval" (onChange)="checkAll($event,listmenubymodules,'approval')" [binary]="true">
                                    </p-checkbox>
                                </span>
                            </div>
                        </div>
                       <p-pickList *ngIf="activedetail == 1" [source]="listmodulessource" [target]="listmodulesdest" sourceHeader="Modules availables" targetHeader="Selected" [dragdrop]="true"
                            [responsive]="true" [sourceStyle]="{'height':'5rem'}" [targetStyle]="{'height':'5rem'}">
                            <ng-template let-product pTemplate="item">
                                <div class="product-item">
                                    <div class="product-list-detail">
                                        <i class="pi pi-tag product-category-icon"></i>
                                        <span class="product-category">{{" "+product.modulename}}</span>
                                    </div>
                                   
                                </div>
                            </ng-template>
                        </p-pickList>
                        <div class="box">
                        <p-orderList id="mnlist" *ngIf="activedetail == 2" [value]="listmenubymodules">
                            <ng-template let-menu pTemplate="item">
                                <div class="product-item">
                                    <div class="p-grid">
                                        <div class="p-col-fixed" style="width:250px">
                                            <h5 class="p-mb-2 p-mt-2">{{menu.moduleName}}</h5>
                                        <i class="pi pi-tag product-category-icon"></i>
                                        <span class="menu-category">{{" "+menu.menuName}}</span>
                                        </div>
                                         <div class="p-col">
                                            <span>
                                                <p-checkbox name="create" label="Create" [(ngModel)]="menu.acl.create" (onChange)="check($event,menu,'create',menu)" [binary]="true">
                                                </p-checkbox>,&nbsp;
                                                <p-checkbox name="read" label="Read" [(ngModel)]="menu.acl.read" (onChange)="check($event,menu,'read',menu)" [binary]="true">
                                                </p-checkbox>,&nbsp;
                                                <p-checkbox name="update" label="Update" [(ngModel)]="menu.acl.update" (onChange)="check($event,menu,'update',menu)" [binary]="true">
                                                </p-checkbox>,&nbsp;
                                                <p-checkbox name="delete" label="Delete" [(ngModel)]="menu.acl.delete" (onChange)="check($event,menu,'delete',menu)" [binary]="true">
                                                </p-checkbox>,&nbsp;
                                                <p-checkbox name="view" label="Preview" [(ngModel)]="menu.acl.view" (onChange)="check($event,menu,'view',menu)" [binary]="true">
                                                </p-checkbox>,&nbsp;
                                                <p-checkbox name="approval" label="Approval" [(ngModel)]="menu.acl.approval" (onChange)="check($event,menu,'approval',menu)" [binary]="true">
                                                </p-checkbox>
                                            </span>
                                         </div>
                                    </div>
                                    <!-- <div class="product-list-detail">
                                        <h5 class="p-mb-2 p-mt-2">{{menu.moduleName}}</h5>
                                        <i class="pi pi-tag product-category-icon"></i>
                                        <span class="menu-category">{{" "+menu.menuName}}</span>
                                    </div>
                                    <div class="product-list-action">
                                        <span>
                                            <p-checkbox name="create" label="Create" [(ngModel)]="menu.acl.create" (onChange)="check($event,menu,'create',menu)" [binary]="true">
                                            </p-checkbox>,
                                            <p-checkbox name="read" label="Read" [(ngModel)]="menu.acl.read" (onChange)="check($event,menu,'read',menu)" [binary]="true">
                                            </p-checkbox>, 
                                            <p-checkbox name="update" label="Update" [(ngModel)]="menu.acl.update" (onChange)="check($event,menu,'update',menu)" [binary]="true">
                                            </p-checkbox>, 
                                            <p-checkbox name="delete" label="Delete" [(ngModel)]="menu.acl.delete" (onChange)="check($event,menu,'delete',menu)" [binary]="true">
                                            </p-checkbox>, 
                                            <p-checkbox name="view" label="Preview" [(ngModel)]="menu.acl.view" (onChange)="check($event,menu,'view',menu)" [binary]="true">
                                            </p-checkbox>
                                            <p-checkbox name="approval" label="Approval" [(ngModel)]="menu.acl.approval" (onChange)="check($event,menu,'approval',menu)" [binary]="true">
                                            </p-checkbox>
                                        </span>
                                    </div> -->
                                </div>
                            </ng-template>
                        </p-orderList>
                        </div>
                        <div class="p-field" *ngIf="submitted && listmodulesdest.length < 1">
                            <span style="color: red;padding-top: 10px;" class="p-ml-6 p-pl-4">Modules are
                                required</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-field p-col p-mt-5">
                <div class="p-formgrid p-grid" style="text-align: right;">
                    <div class="p-field p-col">
                        <button *ngIf="activedetail > 1" pButton pRipple type="button" label="Back" (click)="onCancel()" class="p-button-warning p-mr-2"
                            icon="pi pi-angle-left" iconPos="left"></button>
                        <button pButton pRipple type="button" label="{{activebutton}}" class="  p-button-success"
                            icon="pi pi-angle-right" iconPos="right" (click)="onSubmit()"></button>

                    </div>
                </div>
            </div>
        </p-card>
        <div style="height: 20px;"></div>
        
        
    <!-- </form> -->
</div>

<!-- <div class="p-field" *ngIf="appNotSelected">
                            <span style="color: red;font-size: 14px;">Choose one of licensed applications</span>
                        </div>
                        
                        <ng-template [ngIf] = "!appNotSelected">
                            Pick modules members for the group
                        </ng-template>
                            <div class=" p-fluid">
                                <p-table [value]="apps" [(selection)]="selectedApps"
                                    styleClass="p-datatable-sm p-datatable-gridlines" (onRowSelect)="onRowSelect($event)">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th class="p-text-center">Application Name</th>
                                            <th class="p-text-center" [style]="{'width':'190px'}">Access</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-app>
                                        <tr>
                                            <td class="p-p-2">{{app.applabel}}</td>
                                            <td class="p-text-center">
                                                <p-tableRadioButton [value]="app"></p-tableRadioButton>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
            
                            </div> -->