<!--  -->
<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<p-progressSpinner *ngIf="limitData.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div *ngIf="limitData.length > 0" style="padding-left: 10px;padding-right: 10px;">
    <app-tablehelper [records]="limitData" [header]="prxheader" [wsearch]=true [actionbtn]="limitactionbtn"
        [colnames]="prxcolname" [colwidth]="prxcolwidth" [colclasshalign]="prxcolhalign" [addbtnlink]="prxaddbtn"
        (datadeleted)="deleteConfirmation($event)"></app-tablehelper>
</div>
<p-dialog header="Delete Master Limit" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <p style="font-size: 18;">Are you sure want to delete this Master Limit?</p>
    <ng-template pTemplate="footer">
        <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
        <p-button (click)="deleteLimit()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>