<p>channelreq works!</p>

<!--  -->
<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<p-progressSpinner *ngIf="channelreqlist.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div *ngIf="channelreqlist.length > 0" style="padding-left: 10px;padding-right: 10px;">
    <app-tablehelper [records] = "channelreqlist" [header]="orgheader" [wsearch]= true [actionbtn] = "orgactionbtn" [colnames]="orgcolname" [colwidth]="orgcolwidth" [collinkaction]="orgcollinghref" [colclasshalign]="orgcolhalign" [addbtnlink]="orgaddbtn" (datadeleted)="deleteConfirmation($event)" ></app-tablehelper>
 </div>
 <p-dialog header="Delete Organization" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000"
 [draggable]="false" [resizable]="false">
 <p style="font-size: 18;">Are you sure want to delete this Organization?</p>
 <ng-template pTemplate="footer">
     <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
     <p-button (click)="deleteOrganization()" label="Yes" styleClass="p-button-text"></p-button>
 </ng-template>
</p-dialog>

<!-- <p-dialog header="View channel" [(visible)]="viewDisplay" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div class="p-fluid">
        <div class="p-grid">
            <p class="p-col-12 p-md-3">channel ID</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedOrganization.channel_ID}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">channel Code</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedOrganization.channel_CODE}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">channel Name</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedOrganization.channel_NAME}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Host Code</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedOrganization.HOST_CODE}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Created Who</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedOrganization.CREATE_WHO}}</p>
        </div>
        <div class="p-grid">
          <p class="p-col-12 p-md-3">Created Date</p>
          <p class="p-col-12 p-md-1">:</p>
          <p class="p-col-12 p-md-8">{{selectedOrganization.CREATE_DATE}}</p>
      </div>
    </div>
</p-dialog> -->
