<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<p-progressSpinner *ngIf="companylist.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div *ngIf="companylist.length > 0" style="padding-left: 10px;padding-right: 10px;">
    <app-tablehelper [records] = "companylist" [header]="orgheader" [wsearch]= true [actionbtn] = "orgactionbtn"
    [colnames]="orgcolname" [colwidth]="orgcolwidth" [collinkaction]="orgcollinghref" [colclasshalign]="orgcolhalign" [addbtnlink]="orgaddbtn"
    (datadeleted)="deleteConfirmation($event)" ></app-tablehelper>
 </div>

 <p-dialog header="Delete Company" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000"
 [draggable]="false" [resizable]="false">
 <p style="font-size: 18;">Are you sure want to delete this Company?</p>
 <ng-template pTemplate="footer">
     <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
     <p-button (click)="deleteCompany()" label="Yes" styleClass="p-button-text"></p-button>
 </ng-template>
</p-dialog>


<p-dialog header="View Company" [(visible)]="viewDisplay" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div class="p-fluid">
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Company ID</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedCompany.companyid}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Company Code</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedCompany.companycode}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Company Name</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedCompany.companyname}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Host Code</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedCompany.hostcode}}</p>
        </div>
        <div class="p-grid">
            <p class="p-col-12 p-md-3">Created Who</p>
            <p class="p-col-12 p-md-1">:</p>
            <p class="p-col-12 p-md-8">{{selectedCompany.createdwho}}</p>
        </div>
        <div class="p-grid">
          <p class="p-col-12 p-md-3">Created Date</p>
          <p class="p-col-12 p-md-1">:</p>
          <p class="p-col-12 p-md-8">{{selectedCompany.createddate}}</p>
      </div>
    </div>
</p-dialog>
