<!--  -->
<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<p-progressSpinner *ngIf="isFetching==true" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div *ngIf="isFetching==false">
    <div style="padding-left: 10px;padding-right: 10px; padding-bottom: 10px;">
        <textarea [(ngModel)]='limitData' rows="50" cols="150" pInputTextarea autoResize="autoResize"
            disabled></textarea>
    </div>
</div>