<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<div class="wrapperinside">
    <div style="height: 20px;"></div>
    <p-card class="p-my-2">
    <div class="card">
        <div class="p-field p-grid">
            <label for="firstname3" class="p-col-fixed" style="width:100px; font-weight: 800;">Sign On</label>
            <div class="p-col">
                <button pButton pRipple type="button" (click)="signOn()" label="Send" class="p-button-success"
                        ></button>
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="lastname3" class="p-col-fixed" style="width:100px; font-weight: 800;">Sign Off</label>
            <div class="p-col">
                <button pButton pRipple type="button" (click)="signOff()" label="Send" class="p-button-success"
                        ></button> 
            </div>
        </div>
    </div>
</p-card>
<!-- <p-progressSpinner class="p-text-center"></p-progressSpinner> -->
<p-messages></p-messages>
</div>
