<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>
<div class="wrapperinside">
    <form (ngSubmit)="onSubmit()" [formGroup]="groupForm" *ngIf="this.groupForm" style="padding: 2px;">
        <div style="height: 20px;"></div>
        <p-card class="p-my-2">
            <div class=" p-fluid">
                <div class="p-grid">
                    <div class="p-col-12">
                        <div class="p-col-4">
                        <div class="box">
                            <label for="bank_code" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Bank Code *
                                :</label>
                            <input class="p-mt-2" name="bank_code" formControlName="bank_code" id="bank_code"
                                type="text" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.bank_code.errors">
                                <span style="color: red;" *ngIf="f.bank_code.errors.required">Bank code is
                                    required</span>
                            </div>
                        </div></div>
                        <!-- <div style="height: 15px;"></div> -->
                        <div class="p-col-4">
                        <div class="box">
                            <label for="bic_code" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">BIC Code * :</label>
                            <input class="p-mt-2" name="bic_code" formControlName="bic_code" id="bic_code"
                                type="text" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.bic_code.errors">
                                <span style="color: red;" *ngIf="f.bic_code.errors.required">BIC Code is
                                    required</span>
                            </div>
                        </div></div>
                        <!-- <div style="height: 15px;"></div> -->
                        <div class="p-col-4">
                        <div class="box">
                            <label for="bank_name" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Bank Name * :</label>
                            <input class="p-mt-2" name="bank_name" formControlName="bank_name" id="bank_name"
                                type="text" pInputText required>

                            <div class="p-field" *ngIf="submitted && f.bank_name.errors">
                                <span style="color: red;" *ngIf="f.bank_name.errors.required">Bank name is
                                    required</span>
                            </div>
                        </div></div>
                    </div>
                </div>
            </div>
        </p-card>
        <div class="p-field p-col p-mt-5">
            <div class="p-formgrid p-grid" style="text-align: right;">
                <div class="p-field p-col">
                    <button pButton pRipple type="submit" label="Save" class="p-button-success"
                        icon="pi pi-angle-right" iconPos="right"></button>
                </div>
            </div>
        </div>
    </form>

</div>
