
<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<p-progressSpinner *ngIf="chnData.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div *ngIf="chnData.length > 0" style="padding-left: 10px;padding-right: 10px;">
    <app-tablehelper [records] = "chnData" [header]="chnheader" [wsearch]= true [actionbtn] = "chnactionbtn" [colnames]="chncolname" [colwidth]="chncolwidth" [colclasshalign]="chncolhalign" [addbtnlink]="chnaddbtn" [colmark]=2 (datadeleted)="deleteConfirmation($event)" ></app-tablehelper>
 </div>
 <p-dialog header="Delete Channel Type" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000"
 [draggable]="false" [resizable]="false">
 <p style="font-size: 18;">Are you sure want to delete this Channel Type?</p>
 <ng-template pTemplate="footer">
     <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
     <p-button (click)="deleteChn()" label="Yes" styleClass="p-button-text"></p-button>
 </ng-template>
</p-dialog>
 