
<!--  -->
<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<p-progressSpinner *ngIf="proxyData.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div *ngIf="proxyData.length > 0" style="padding-left: 10px;padding-right: 10px;">
    <app-tablehelper [records] = "proxyData" [header]="prxheader" [wsearch]= true [actionbtn] = "prxactionbtn" [colnames]="prxcolname" [colwidth]="prxcolwidth" [colclasshalign]="prxcolhalign" [addbtnlink]="prxaddbtn" (datadeleted)="deleteConfirmation($event)" ></app-tablehelper>
 </div>
 <p-dialog header="Delete Group" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000"
 [draggable]="false" [resizable]="false">
 <p style="font-size: 18;">Are you sure want to delete this Organization?</p>
 <ng-template pTemplate="footer">
     <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
     <p-button (click)="deleteGroup()" label="Yes" styleClass="p-button-text"></p-button>
 </ng-template>
</p-dialog>
 