<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>

<div class="wrapperinside">
    <p-messages></p-messages>
    <form (ngSubmit)="onSubmit()" [formGroup]="groupForm" *ngIf="this.groupForm" style="padding: 2px;">
        <div style="height: 20px;"></div>
        <p-card class="p-my-2">
            <div class=" p-fluid">
                <div class="p-grid">
                    <div class="p-col">
                        <div class="box">
                            <label for="username" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">User name *
                                :</label>
                            <input class="p-mt-2" name="username" formControlName="username" id="username" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.username.errors">
                                <span style="color: red;" *ngIf="f.username.errors.required">User Name is
                                    required</span>
                            </div>
                        </div><div style="height: 15px;"></div>
                        <div class="box">
                            <label for="emailname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Email *
                                :</label>
                            <input class="p-mt-2" name="emailname" formControlName="emailname" id="emailname" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.emailname.errors">
                                <span style="color: red;" *ngIf="f.emailname.errors.required">Email is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="fullname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Full name * :</label>
                            <input class="p-mt-2" name="fullname" formControlName="fullname" id="fullname" type="text"
                                pInputText required>
                            <div class="p-field" *ngIf="submitted && f.fullname.errors">
                                <span style="color: red;" *ngIf="f.fullname.errors.required">Fullname is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <!-- <div class="box">
                            <label for="orgMlt" class="p-col-12 p-mb-2 p-md-2 p-mb-md-10">Group Menus & Acl * :</label>
                            <div style="height: 8px;"></div>
                            <p-autoComplete formControlName="orgMlt" [suggestions]="orgSuggest"
                                (completeMethod)="filterOrg($event)" field="name" [multiple]="true">
                            </p-autoComplete>

                            <div class="p-field" *ngIf="submitted && f.orgMlt.errors">
                                <span style="color: red;" *ngIf="f.orgMlt.errors.required">Group Menus & Acl are
                                    required</span>
                            </div>
                        </div> -->

                    </div>
                    <div class="p-col">
                        <div class="box">
                            <label for="orgMlt" class="p-col-12 p-mb-2 p-md-2 p-mb-md-10">Group Menus & Acl * :</label>
                            <div style="height: 8px;"></div>
                            <p-autoComplete formControlName="orgMlt" [suggestions]="orgSuggest"
                                (completeMethod)="filterOrg($event)" field="name" [multiple]="true" class="autosrc">
                            </p-autoComplete>

                            <div class="p-field" *ngIf="submitted && f.orgMlt.errors">
                                <span style="color: red;" *ngIf="f.orgMlt.errors.required">Group Menus & Acl are
                                    required</span>
                            </div>
                        </div><div style="height: 15px;"></div>
                        <div class="box">
                            <label for="temppass" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Initial Secret *
                                :</label>
                            <input class="p-mt-2" name="temppass" formControlName="temppass" id="temppass"
                                type="password" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.temppass.errors">
                                <span style="color: red;" *ngIf="f.temppass.errors.required">Initial Secret is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box" *ngIf="!isEdit">
                            <label for="temppass" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Activate user :</label>
                            <div style="height: 8px;"></div>
                            <!-- <p-selectButton id="isactive" [options]="stateOptions" formControlName="isactive"
                                optionLabel="label" optionValue="value"></p-selectButton> -->
                                <p-dropdown id="isactive" [options]="stateOptions" formControlName="isactive" optionLabel="label" optionValue="value"></p-dropdown>
                        </div>
                        <div class="box" *ngIf="isEdit">
                            <label for="temppass" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Activate user :</label>
                            <div style="height: 8px;"></div>
                            <!-- <p-selectButton id="isactive" [options]="stateOptions" formControlName="isactive"
                                optionLabel="label" optionValue="value"></p-selectButton> -->
                                <p-dropdown id="isactive" [options]="stateOptionsEdit" formControlName="isactive" optionLabel="label" optionValue="value"></p-dropdown>
                        </div>
                        <!-- <p>Keep deactivated will email the user registered to activated</p> -->
                    </div>
                </div>
            </div>
        </p-card>
        <div class="p-field p-col p-mt-5">
            <div class="p-formgrid p-grid" style="text-align: right;">
                <div class="p-field p-col">
                    <button pButton pRipple type="submit" label="Save" class="p-button-success" icon="pi pi-angle-right"
                        iconPos="right"></button>
                </div>
            </div>
        </div>
    </form>
</div>