<!--  -->
<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
<div>
    <div class="demo-container  p-pb-0 p-pt-4 p-pl-4 p-pr-4 gauge-container">
        <div class="p-grid">
            <div class="p-col-3" style="text-align: right;">

                <p>Min : {{gaugeMin | number}}</p>
                <p>Max : {{gaugeMax | number}}</p>
                <p>Current Value : {{gaugeValue | number}}</p>
            </div>
            <div class="p-col">
                <ngx-gauge style=" font-size:20px;" [size]=400 [type]="gaugeType" [value]="gaugeValue" [max]="gaugeMax">
                </ngx-gauge>
            </div>
        </div>
    </div>
    <div class="container-gauge-button p-pl-4 p-pr-4 p-pb-4" [routerLink]="['detail']">
        <button pButton pRipple type="button" icon="pi pi-plus-circle" label="Configure" class="p-primary-btn"></button>
    </div>
</div>

<p-progressSpinner *ngIf="limitData.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div *ngIf="limitData.length > 0" style="padding-left: 10px;padding-right: 10px;">
    <app-tablehelper [records]="limitData" [header]="prxheader" [wsearch]=true [actionbtn]="limitactionbtn"
        [colnames]="prxcolname" [colwidth]="prxcolwidth" [colclasshalign]="prxcolhalign" [addbtnlink]="prxaddbtn"
        (datadeleted)="deleteConfirmation($event)"></app-tablehelper>
</div>
<p-dialog header="Delete Master Limit" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <p style="font-size: 18;">Are you sure want to delete this Master Limit?</p>
    <ng-template pTemplate="footer">
        <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
        <p-button (click)="deleteLimit()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>