/* You can add global styles to this file, and also import other style files */
@import "assets/themes/custom.css";
.product-item {
    display: flex;
    align-items: center;
    padding: .5rem;
    width: 100%;

    img {
        width: 75px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        margin-right: 1rem;
    }

    .product-list-detail {
        flex: 1 1 0;
        width: 38.6667%!important;
    }

    .product-list-action {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .product-category-icon {
        vertical-align: middle;
        margin-right: .5rem;
    }

    .product-category {
        vertical-align: middle;
        line-height: 1;
    }
}