<p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>

<p-progressSpinner *ngIf="branchData.length == 0" class="p-text-center"></p-progressSpinner>
<p-messages></p-messages>
<div *ngIf="branchData.length > 0" style="padding-left: 10px;padding-right: 10px;">
    <app-tablehelper [records] = "branchData" [header]="branchheader" [wsearch]= true [actionbtn] = "branchactionbtn" [colnames]="branchcolname" [colwidth]="branchcolwidth" [colclasshalign]="branchcolhalign" [addbtnlink]="branchaddbtn" [colmark]=4 (datadeleted)="deleteConfirmation($event)" ></app-tablehelper>
 </div>
 <p-dialog header="Delete Branch" [(visible)]="display" [style]="{width: '20vw'}" [baseZIndex]="10000"
 [draggable]="false" [resizable]="false">
 <p style="font-size: 18;">Are you sure want to delete this Record?</p>
 <ng-template pTemplate="footer">
     <p-button (click)="display=false" label="No" styleClass="p-button-text"></p-button>
     <p-button (click)="deleteBranch()" label="Yes" styleClass="p-button-text"></p-button>
 </ng-template>
</p-dialog>
