<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>
<div class="wrapperinside">
    <form (ngSubmit)="onSubmit()" [formGroup]="groupForm" *ngIf="this.groupForm" style="padding: 2px;">
        <div style="height: 20px;"></div>
        <p-card class="p-my-2">
            <div class=" p-fluid">
                <div class="p-grid">
                    <div class="p-col">
                        <div class="box">
                            <label for="limit_name" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Limit Name *
                                :</label>
                            <!-- <input class="p-mt-2" name="proxy_type" formControlName="proxy_type" id="proxy_type"
                                type="text" pInputText required> -->
                            <div style="height: 8px;"></div>
                            <!--<p-dropdown id="isactive" [options]="proxytypes" formControlName="proxy_type"
                                optionLabel="label" optionValue="valueint" placeholder="Select Proxy Type"></p-dropdown>-->
                            <input class="p-mt-2" name="limit_name" formControlName="limit_name" id="limit_name"
                                type="text" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.limit_name.errors">
                                <span style="color: red;" *ngIf="f.limit_name.errors.required">Limit Name
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="tran_type" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Transaction Type *
                                :</label>
                            <input class="p-mt-2" name="tran_type" formControlName="tran_type" id="tran_type"
                                type="text" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.tran_type.errors">
                                <span style="color: red;" *ngIf="f.tran_type.errors.required">Transaction Type is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <!-- {{groupForm.get('registrar_bic').value}} -->
                        <div class="box">
                            <label for="min_tran" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Minimum Transaction *
                                :</label>
                            <!-- <input class="p-mt-2" name="registrar_bic" formControlName="registrar_bic" id="registrar_bic"
                                type="text" pInputText required> -->
                            <div style="height: 8px;"></div>
                            <input class="p-mt-2" name="min_tran" formControlName="min_tran" id="min_tran" type="text"
                                pInputText required (keyup)="format($event)">
                            <div class="p-field" *ngIf="submitted && f.min_tran.errors">
                                <span style="color: red;" *ngIf="f.min_tran.errors.required">Minimum Transaction is
                                    required</span>
                            </div>
                        </div>
                    </div>

                    <div class="p-col">
                        <div style="height: 8px;"></div>
                        <div class="box">
                            <label for="max_limit" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Maximum Limit *
                                :</label>
                            <input class="p-mt-2" name="max_limit" formControlName="max_limit" id="max_limit"
                                type="text" (keyup)="format($event)" pInputText required>
                            <div class="p-field" *ngIf="submitted && f.max_limit.errors">
                                <span style="color: red;" *ngIf="f.max_limit.errors.required">Maximum Limit is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>
                        <div class="box">
                            <label for="status" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Status *
                                :</label>
                            <p-dropdown id="isactive" [options]="proxytypes" formControlName="status"
                                optionLabel="label" optionValue="valueint" placeholder="Select status"></p-dropdown>
                            <div class="p-field" *ngIf="submitted && f.status.errors">
                                <span style="color: red;" *ngIf="f.status.errors.required">Status is
                                    required</span>
                            </div>
                        </div>
                        <div style="height: 15px;"></div>

                        <!-- <p>Keep deactivated will email the user registered to activated</p> -->
                    </div>
                </div>
            </div>
        </p-card>
        <div class="p-field p-col p-mt-5">
            <div class="p-formgrid p-grid" style="text-align: right;">
                <div class="p-field p-col">
                    <button pButton pRipple type="submit" label="Save" class="p-button-success" icon="pi pi-angle-right"
                        iconPos="right"></button>
                </div>
            </div>
        </div>
    </form>
</div>