<p-table *ngIf="nopaging" #dt [value]="records" dataKey="id" [rows]="5" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10,25,50]" styleClass="p-datatable-customs p-datatable-gridlines" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [globalFilterFields]="colnames"
    responsiveLayout="scroll">
    <ng-template pTemplate="caption">
        <div class="p-d-flex">
            <!-- <p-button label="Add data" icon="pi pi-plus-circle" styleClass="p-button-sm p-button-rounded"></p-button> -->
            <button *ngIf="actionbtn[0] == 1" pButton pRipple type="button" icon="pi pi-plus-circle"
                [routerLink]="addbtnlink.route" label="{{addbtnlink.label}}" class="p-primary-btn"></button>
            <span class="p-input-icon-right p-ml-auto">
                <i class="pi pi-search"></i>
                <input #myInput pInputText type="text" (input)="dt.filterGlobal(myInput.value, 'contains')"
                    placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th class="p-text-center" pSortableColumn="{{head.sort}}" *ngFor="let head of header; index as i;"
                [style]="colwidth[i]">{{head.label}}
                <p-sortIcon field="head.sort"></p-sortIcon>
            </th>
            <th *ngIf="isActionBtn" class="p-text-center" [style]="{'width':'200px'}">Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-record>
        <tr>
            <td *ngFor="let data of colnames; index as j;" class="vertAlignCenter " [class]="colclasshalign[j]">
                <ng-template [ngIf]="j!=collink&&j!=colmark">
                    {{record[data]}}
                </ng-template>

                <ng-template [ngIf]="j==collink">
                    <a href="#">{{collinkaction.label}}</a>
                </ng-template>

                <ng-template [ngIf]="j==colmark">
                    <i class="pi pi-check-circle" *ngIf="record[data] === 1" style="color: green;"></i>
                    <i class="pi pi-times-circle" *ngIf="record[data] === 0" style="color: red;"></i>
                </ng-template>




            </td>
            <!-- actionbtn -->
            <td class="p-text-center" *ngIf="isActionBtn">
                <button *ngIf="actionbtn[4] == 1" (click)="previewConfirmation(record)" pButton pRipple type="button"
                    icon="pi pi-search" class="p-button-rounded p-button-text cstnoheader"></button>
                <button *ngIf="actionbtn[2] == 1" pButton pRipple type="button" icon="pi pi-pencil"
                    [routerLink]="[addbtnlink.route+'#/'+record.id]"
                    class="p-button-rounded p-button-text cstnoheader"></button>
                <button *ngIf="actionbtn[3] == 1" pButton pRipple type="button" icon="pi pi-times"
                    (click)="deleteConfirmation(record)" style="color: red;"
                    class="p-button-rounded p-button-secondary p-button-text cstnoheader"></button>
            </td>
        </tr>
    </ng-template>

</p-table>



<!-- <p-table *ngIf="!nopaging" #dt [value]="records" dataKey="id" [rows]="5" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10,25,50]" styleClass="p-datatable-customs p-datatable-gridlines" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [globalFilterFields]="colnames"
    responsiveLayout="scroll"> -->

<p-table #dt *ngIf="!nopaging" [value]="records" [scrollable]="true" scrollHeight="scrollheight"
        scrollDirection="both" [globalFilterFields]="colnames">

    <ng-template pTemplate="caption">
        <div class="p-d-flex">
            <!-- <p-button label="Add data" icon="pi pi-plus-circle" styleClass="p-button-sm p-button-rounded"></p-button> -->
            <button *ngIf="actionbtn[0] == 1" pButton pRipple type="button" icon="pi pi-plus-circle"
                [routerLink]="addbtnlink.route" label="{{addbtnlink.label}}" class="p-primary-btn" pTooltip="Add record"></button>
            <span class="p-input-icon-right p-ml-auto">
                <i class="pi pi-search"></i>
                <input #myInput pInputText type="text" (input)="dt.filterGlobal(myInput.value, 'contains')"
                    placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th class="p-text-center" pSortableColumn="{{head.sort}}" *ngFor="let head of header; index as i;"
                [style]="colwidth[i]">{{head.label}}
                <p-sortIcon field="head.sort"></p-sortIcon>
            </th>
            <th *ngIf="isActionBtn" class="p-text-center" [style]="{'width':'200px'}">Action</th>
        </tr>
    </ng-template>
    <ng-template  *ngIf="actionbtn[1] == 1" pTemplate="body" let-record>
        <tr>
            <td *ngFor="let data of colnames; index as j;" class="vertAlignCenter " [class]="colclasshalign[j]" [style]="colwidth[j]">
                <ng-template [ngIf]="j!=collink&&j!=colmark">
                    {{record[data]}}
                </ng-template>

                <ng-template [ngIf]="j==collink">
                    <a href="#">{{collinkaction.label}}</a>
                </ng-template>

                <ng-template [ngIf]="j==colmark">
                    <i class="pi pi-check-circle" *ngIf="record[data] === 1" pTooltip="Activated" style="color: green;"></i>
                    <i class="pi pi-times-circle" *ngIf="record[data] === 0"  pTooltip="Deactivated" style="color: red;"></i>
                    <i class="pi pi-clock" *ngIf="record[data] === 3" style="color: orange;"  pTooltip="Add Data Approval"></i>
                    <i class="pi pi-clock" *ngIf=" [5,7].indexOf(record[data]) > -1" style="color: orange;"  pTooltip="Update Data Approval"></i>
                    <i class="pi pi-clock" *ngIf="record[data] === 9" style="color: orange;"  pTooltip="Delete Data Approval"></i>
                    
                </ng-template>
            </td>
            <!-- actionbtn -->
            <td class="p-text-center" *ngIf="isActionBtn" [style]="{'width':'200px'}">

                <!-- {{[3,5,7].indexOf(record['active']) > -1}} -->
                <!-- {{[3,5,7].indexOf(record['active'])}} -->
                <!-- <button *ngIf="actionbtn[2] == 1 && record['active'] !== 3" pButton pRipple type="button" icon="pi pi-pencil"
                    [routerLink]="[addbtnlink.route+'#/'+record.id]"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Edit record"></button>
                <button *ngIf="actionbtn[3] == 1 && record['active'] !== 3" pButton pRipple type="button" icon="pi pi-times"
                    (click)="deleteConfirmation(record)" style="color: red;"
                    class="p-button-rounded p-button-secondary p-button-text cstnoheader" pTooltip="Delete record"></button> -->


                <button *ngIf="actionbtn[4] == 1 && [3,5,7,9].indexOf(record['active']) == -1" (click)="previewConfirmation(record)" pButton pRipple type="button"
                    icon="pi pi-search" class="p-button-rounded p-button-text cstnoheader" pTooltip="View detail" ></button>
                <button *ngIf="actionbtn[2] == 1 &&  [3,5,7,9].indexOf(record['active']) == -1" pButton pRipple type="button" icon="pi pi-pencil"
                    [routerLink]="[addbtnlink.route+'#/'+record.id]"
                    class="p-button-rounded p-button-text cstnoheader" pTooltip="Edit record"></button>
                <button *ngIf="actionbtn[3] == 1 &&  [3,5,7,9].indexOf(record['active']) == -1" pButton pRipple type="button" icon="pi pi-times"
                    (click)="deleteConfirmation(record)" style="color: red;"
                    class="p-button-rounded p-button-secondary p-button-text cstnoheader" pTooltip="Delete record"></button>






                <button *ngIf="actionbtn[5] == 1 && record['active'] === 3" (click)="approveConfirmation(record)" pButton pRipple type="button"
                    icon="pi pi-check-circle" class="p-button-rounded p-button-text cstnoheader" pTooltip="Add data Approval" tooltipPosition="left"></button>
                <button *ngIf="actionbtn[5] == 1 && record['active'] === 5" (click)="approveConfirmation(record)" pButton pRipple type="button"
                    icon="pi pi-check-circle" class="p-button-rounded p-button-text cstnoheader" pTooltip="Edit data Approval" tooltipPosition="left"></button>
                <button *ngIf="actionbtn[5] == 1 && record['active'] === 7" (click)="approveConfirmation(record)" pButton pRipple type="button"
                    icon="pi pi-check-circle" class="p-button-rounded p-button-text cstnoheader" pTooltip="Edit data Approval" tooltipPosition="left"></button>
                <button *ngIf="actionbtn[5] == 1 && record['active'] === 9" (click)="approveConfirmation(record)" pButton pRipple type="button"
                    icon="pi pi-check-circle" class="p-button-rounded p-button-text cstnoheader" pTooltip="Delete data Approval" tooltipPosition="left"></button>
            </td>
        </tr>
    </ng-template>

</p-table>