<!-- <p-breadcrumb [home]="home"></p-breadcrumb> -->
<div style="height: 20px;"></div>
<div class="wrapper">
    <div class="p-grid">
        <div class="p-col-12 p-mb-10">
            <p-panel header="Total Transaction">
                <ng-template pTemplate="icons">
                    <p-dropdown [options]="categoryChart" [(ngModel)]="selectedCategoryChart"
                        placeholder="Select a Category" optionLabel="name"></p-dropdown>
                </ng-template>
                <div class="box">
                    <div *ngIf="selectedCategoryChart.code === 'daily'">
                        <app-daily-chart></app-daily-chart>
                    </div>
                    <div *ngIf="selectedCategoryChart.code === 'weekly'">
                        <app-weekly-chart></app-weekly-chart>
                    </div>
                    <div *ngIf="selectedCategoryChart.code === 'monthly'">
                        <app-monthly-chart></app-monthly-chart>
                    </div>

                </div>
            </p-panel>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-6 p-mb-10">
            <p-panel header="Surrounding System">
                <div class="box">
                    <app-tablehelper [records]="userlist" [header]="usrheader" [wsearch]=true [actionbtn]="usractionbtn"
                        [colnames]="usrcolname" [colwidth]="usrcolwidth" [colclasshalign]="usrcolhalign"
                        [addbtnlink]="usraddbtn"></app-tablehelper>
                </div>
            </p-panel>
        </div>
        <div class="p-col-6 p-mb-10">
            <p-panel header="Prefund Management">
                <ng-template pTemplate="icons">
                    <div class="container-gauge-button " [routerLink]="['/mgm/settings/prefunddashboard/detail']">
                        <button pButton pRipple type="button" icon="pi pi-plus-circle" label="Configure"
                            class="p-primary-btn"></button>
                    </div>
                </ng-template>
                <div class="box">
                    <div class="box p-mt-2" style="text-align: center;">

                        <div class="p-grid">
                            <div class="p-col" style="text-align: left;">
                                <p>Min : {{gaugeMin | number}}</p>
                                <p>Max : {{gaugeMax | number}}</p>
                                <p>Saldo Available  : {{gaugeValue | number}}</p>
                            </div>
                            <div class="p-col">
                                <ngx-gauge style=" font-size:20px;" [size]=260 [type]="gaugeType" [value]="gaugeValue"
                                    [max]="gaugeMax" [thresholds]="thresholdConfig">
                                </ngx-gauge>
                            </div>
                        </div>
                        <!-- <div class="container-gauge-button p-pl-4 p-pr-4 p-pb-4" [routerLink]="['detail']">
                    <button pButton pRipple type="button" icon="pi pi-plus-circle" label="Configure"
                        class="p-primary-btn"></button>
                </div> -->
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
</div>
